<!DOCTYPE html>
<html>
  <head>
    <title>ZuboraRecipe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <script src="https://kit.fontawesome.com/5299a86da0.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-custom-image">
        <div class="container">
          <a class="navbar-brand" href="/"><span>ずぼらレシピ帳</span></a>
          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse collapse" id="navbarNavDropdown" style="">
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
                <li><%= link_to user_path(current_user), class: "nav-link text-light" do %><i class="fa-solid fa-users"></i> マイレシピ<% end %></li>
                <li><%= link_to recipes_path, class: "nav-link text-light" do %><i class="fa-solid fa-book-open"></i> レシピ一覧<% end %></li>
                <li>
                  <%= link_to destroy_user_session_path, method: :delete, class: "nav-link text-light" do %>
                  <i class="fa-solid fa-sign-out-alt"></i> ログアウト
                  <% end %>
                </li>
              <% else %>
                <li><%= link_to root_path, class: "nav-link text-light" do %><i class="fa-solid fa-home"></i> トップ<% end %></li>
                <li><%= link_to recipes_path, class: "nav-link text-light" do %><i class="fa-solid fa-link"></i>レシピ一覧<% end %></li>
                <li>
                  <%= link_to new_user_registration_path, class: "nav-link text-light" do %>
                    <i class="fa-solid fa-user-plus"></i> 新規登録
                  <% end %>
                </li>
                <li>
                  <%= link_to new_user_session_path, class: "nav-link text-light" do %>
                    <i class="fa-solid fa-sign-in-alt"></i> ログイン
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <% if admin_signed_in? %>
      <div class="text-right">
        <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %>
      </div>
    <% end %>
    <%= flash[:notice] %>
    <div class="container px-5 px-sm-0">
      <div class="d-flex justify-content-center mb-2">
        <%= render 'searches/form' %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>